:root {
    --pink: rgba(230, 75, 67, 1);
    --fandango: rgba(56, 216, 224, 1);
    --tan: rgba(252, 125, 119, 1);
    --nyanza: rgba(49, 119, 122, 1);
}

*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: sans-serif;
    background-color: var(--pink);
    text-align: center;
    transition: background-color 0.4s linear;
    min-height: 100vh;
}

.tab-nav-container {
    /* position: fixed; */
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 30px;
    /* width: 450px; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);

}

.tab {
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.4s linear;
}

.tab i {
    font-size: 1.2em;
}

.tab p {
    font-weight: bold;
    overflow: hidden;
    max-width: 0;
}

.tab.active p {
    margin-left: 10px;
    max-width: 200px;
    transition: max-width 0.4s linear;
}

.tab.active.pink {
    background-color: rgba(230, 75, 67, 0.2);
    color: var(--pink);
}

.tab.active.fandango {
    background-color: rgba(56, 216, 224, 0.2);
    color: var(--fandango);
}

.tab.active.tan {
    background-color: rgba(252, 125, 119, 0.2);
    color: var(--tan);
}

.tab.active.nyanza {
    background-color: rgba(49, 119, 122, 0.6);
    color: var(--nyanza);
}









@media (max-width:450px) {
    .tab-nav-container {
        max-width: 350px;
        padding: 10px 10px;
    }

    .tab {
        padding: 5px 10px;
        margin: 0 5px;
    }

    .tab i {
        font-size: 1em;
    }

    .tab p {
        display: none;
    }
}